In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')

In [3]:
df.head(5)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN

In [ ]:
df1 =pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')
df1.head(5)

In [ ]:
df.tail(7)

In [ ]:
# print total records and type of variables
df.info()

In [ ]:
df.shape[0]
# 4622 observations

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df1.info()

In [ ]:
df1.shape

In [ ]:
df1.columns

In [ ]:
df1.index

2. Get the row names from the above files.

In [ ]:
row_names1 = df.index.to_numpy()
row_names1

In [ ]:
print(row_names1)
print(type(row_names1))

In [ ]:
row_names2 = df1.index.to_numpy()
row_names2

3. Change the column name from any of the above file.

In [ ]:
df.head(2)

In [ ]:
df.columns=df.columns.str.lower()

In [ ]:
#changing the single column name 
df.head(2)

In [ ]:
df.rename(columns={'indicator':'indicator_id'},inplace=True)

In [ ]:
df.head(2)

In [ ]:
#chanding multiple column names
#df.columns = ['indicator_id', 'publish by states','region'] you have to write all the column names for these methods
df.columns = df.columns.str.replace('who region','region')

In [ ]:
df.head(2)

In [ ]:
#df.set_axis(['col1','col2'], axis = 'columns', inplace=True)
df.rename(columns={'indicator':'indicator_id','world bank income group':'income'},inplace=True)
df.head(2)

In [ ]:
df.columns = df.columns.str.title()
df.head(5)

6. Arrange values of a particular column in ascending order.

In [ ]:
df.sort_values(by=['Year'])

7. Arrange multiple column values in ascending order.

In [ ]:
df.sort_values(by=['Year','Display Value','Numeric'])

8. Make country​ as the first column of the dataframe.

In [ ]:
first = df.pop('Country')
df.insert(0, 'Country', first)
df.head(5)

9. Get the column array using a variable

In [ ]:
country = df.get('Country')
country

In [ ]:
country = np.asarray(df['Country'])
country

In [ ]:
country = pd.Series('Country')
country

10. Get the subset rows 11, 24, 37

In [ ]:
df.loc[[11,24,37]]

11. Get the subset rows excluding 5, 12, 23, and 56

In [ ]:
bad_df = df.index.isin([5,12,23,56])
df[~bad_df].head(10)

**you can see that 5 is excluded from the dataframe**

**Now we try to load different datasets**

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv')

In [ ]:
sessions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv')

In [ ]:
products = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv')

In [ ]:
transactions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')

In [ ]:
users.head()

In [ ]:
sessions.head()

In [ ]:
transactions.head()

In [ ]:
products.head()

12. Join users to transactions, keeping all rows from transactions and only matching rows fromusers (left join)

In [ ]:
df = pd.merge( transactions, users, how = 'left')
df.head(5)

15. Join users to transactions, displaying all matching rows AND all non-matching rows (full outer join)

13. Which transactions have a UserID not in users?

In [ ]:
# for these we have to use the transcation column
transactions.head(10)

In [ ]:
transactions['UserID'].nunique()

In [ ]:
transactions['UserID'].isna().sum()

In [ ]:
transactions['TransactionID'].isna().sum()

In [ ]:
# Find rows with NaN in column 'B'
rows_with_nan = transactions['UserID'].isnull()

# Return the dataframe with rows with NaN in column 'B'
df_with_nan = transactions[rows_with_nan]

# Print the dataframe
df_with_nan.head(5)

14. Join users to transactions, keeping only rows from transactions and users that match via UserID (inner join)

In [ ]:
df1 = pd.merge( transactions, users, how = 'inner')
df1.head(5)

In [ ]:
df2 = pd.merge( transactions, users, how = 'outer')
df2.head(5)

16. Determine which sessions occurred on the same day each user registered

In [ ]:
filterd = df.filter(['TransactionDate','UserID'], like=None, regex=None, axis=None)
filterd.head(5)

In [ ]:
#for these they have use userid and sessions dataset
sessions.head(1)

In [ ]:
users.head(1)

In [ ]:
newdf = pd.merge(users,sessions, on ='UserID')
newdf

In [ ]:
result = newdf.equals(sessions['SessionDate'])

In [ ]:
result

In [ ]:
result = newdf.isin(sessions['SessionDate'])
result.head(0)

17. Build a dataset with every possible (UserID, ProductID) pair (cross join)

In [ ]:
print(users.head(2))
print(sessions.head(2))
print(products.head(2))
print(transactions.head(2))

In [ ]:
df = pd.merge(users, sessions,how='cross') 
df = pd.merge(df,products,how='cross')
df = pd.merge(df,transactions, how='cross')
df.head()

In [ ]:
df.rename(columns={'ProductID_x':'ProductID','UserID_x':'UserID'},inplace=True)

18. Determine how much quantity of each product was purchased by each user

In [ ]:
transactions.head(5)

In [ ]:
products.head(5)

In [ ]:
users.head(5)

In [ ]:
new_df = pd.merge(transactions, users, how='inner')
new_df

In [ ]:
# Now we to find quantity of each product, purchased by user.
# output value should have userID productID and Quantity
new_df.isnull().sum()

In [ ]:
new_df['Quantity'].nunique()

In [ ]:
new_df['UserID'].nunique()

In [ ]:
new_df['ProductID'].nunique()

In [ ]:
df_df=new_df.iloc[:,2:5]

In [ ]:
df_df.head(5)

In [ ]:
purchase_counts = df_df.groupby(['UserID', 'ProductID'], as_index=False).count()

In [ ]:
purchase_counts

In [ ]:
my_columns = list(df.columns)

In [ ]:
my_columns

In [ ]:
list(df.dropna(thresh=int(df.shape[0] * .9), axis=1).columns) #set threshold to drop NAs

In [ ]:
missing_info = list(df.columns[df.isnull().any()])

In [ ]:
missing_info

In [ ]:
new_df.head(5)