create a tuple from multiple data types

In [1]:
tup =(False, "bishu", 1, 12.8, 12+4j)
print(tup)
print(type(tup))

(False, 'bishu', 1, 12.8, (12+4j))
<class 'tuple'>

In [2]:
#converting multiple list items 
a = ['bishu','is','good','boy']
b = [1,2,3,4]
c = [1.8,2.5,5.8]
d = [True, False, False]
e = [3+4j, 5+8j, 6+7j]
tup1 =(a,b,c,d,e)
print(tup1)
print(type(tup1))

(['bishu', 'is', 'good', 'boy'], [1, 2, 3, 4], [1.8, 2.5, 5.8], [True, False, False], [(3+4j), (5+8j), (6+7j)])
<class 'tuple'>

1. Create a list of length 3 and Create a list of length 4, For each element in the first list,
1. Display the corresponding index element of the second list

In [3]:
#creating a list length of 3 elements
a = ['my', 'name', 'bishu']
print(len(a))
#creating a list length of 4 elements
b = ['my', 'name', 'is', 'Biswanth']
print(len(b))
print("--------------------------------")
#displaying the corresponding element of the second list
for a,b in zip(a,b):
    print(a, 'followed by: ', b)

3
4
--------------------------------
my followed by:  my
name followed by:  name
bishu followed by:  is

In [4]:
x = ['data science', 'Blue mix', 'algorithms']
y = ['Red hat', 'Blue mixx','Green gold','Orange Ai']
[(a, b) for a in x for b in y ]

[('data science', 'Red hat'),
 ('data science', 'Blue mixx'),
 ('data science', 'Green gold'),
 ('data science', 'Orange Ai'),
 ('Blue mix', 'Red hat'),
 ('Blue mix', 'Blue mixx'),
 ('Blue mix', 'Green gold'),
 ('Blue mix', 'Orange Ai'),
 ('algorithms', 'Red hat'),
 ('algorithms', 'Blue mixx'),
 ('algorithms', 'Green gold'),
 ('algorithms', 'Orange Ai')]

write a program for breaking and exiting out of loop

In [5]:
i = 0
while i < 10:
    i+= 1
    print(i)
    if i ==5 :
        break

1
2
3
4
5

In [6]:
teams = ['RCB',"CSK","MI", 'KXIP', 'SRH', 'GT', 'BT','JT','IT']
for team in teams:
    print(team)
    if team == "GT":
        print('end of list remaining all are out of team')
        break

RCB
CSK
MI
KXIP
SRH
GT
end of list remaining all are out of team